/* this will hold any styles that will be used throughout the website */
h1 {
    font-size: 50px;
    text-align: center;
    background-color: #ebe5d5;
    color: #4a3432;
    padding-bottom: 30px;
    margin: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #4A3432;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vw;
    margin: 0;
}

.main-container {
    width: 100vw;
    height: auto;
}

.page-header-container {
    display: flex;
    align-items: center;
}

.body-content-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
}


/* logo style */

.logo-style {
    height: 10vw;
    width: 10vw;
}

.logo-container{

}

.background-c{
    background-color: #ebe5d5;
}

.py-2.full-width {
    flex: 1;
    height: 10vw;
    width: 90vw;
}



/* paragraph style with class */

.paragraph-style {
    color: #4a3432;
    width: 25vw;
    margin-left: 20px;
    background-color: #ebe5d5;
    padding: 25px;
    word-spacing: normal;
}

.nav-bar-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 	#ebe5d5;

}
.nav-bar {
    display: flex;
    text-align: center;
}

.item{
    color: #4A3432;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: .45px;
    padding: 6px 30px 6px 30px;

   border-style: solid;
    border-width: 0px 1px 0px 0px;
    overflow: hidden;

}

.item.last{
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    white-space: nowrap;

}
.nav-bar .item:hover{
    border-width: 0px 1px 1px 0px;
}
.nav-bar .item.last:hover{
    border-width: 0px 0px 1px 0px;
}
a{
    text-decoration: none;
}

.content {
    display: flex;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
}


.book-container{
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 10vw;
    height: 18vw;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;

}

.accessory-container{
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 10vw;
    height: 18vw;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;

}

.cr-r{
    text-align: right;
}

.search-bar-container{
    width: 40vw;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
#search-bar{
    width: 500vw;

}

.book{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
    width: 8vw;
    object-fit: contain;
}

.accessory{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
    width: 8vw;
    object-fit: contain;
}

p{
    padding: 0px;
    margin: 0px;
}

.book-title{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.item-name{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.book-author{
font-size: 8px;
text-decoration: underline;
text-align: center;
padding-top: 5px;

}

.book-price{
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.item-price{
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}