/* this will hold any styles that will be used throughout the website */
h1 {
    font-size: 50px;
    text-align: center;
    background-color: #ebe5d5;
    color: #4a3432;
    padding-bottom: 30px;
    margin: 0;
}

/* logo style */

.logo-style {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container{
    height: 175px;
    width: 175px;
    float: left;
    position: relative;
    overflow: hidden;
    margin-top: -10px;
}

.background-c{
    background-color: #ebe5d5;
}



/* paragraph style with class */

.paragraph-style {
    color: #4a3432;
    width: 25%;
    margin-left: 20px;
    background-color: #ebe5d5;
    padding: 25px;
    word-spacing: normal;
}

.nav-bar-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 	#ebe5d5;
    width: 85%;
}
.nav-bar {
    display: flex;
    text-align: center;
    margin-left: -125px;
}

.item{
    color: #4A3432;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: .45px;
    padding: 6px 30px 6px 30px;

   border-style: solid;
    border-width: 0px 1px 0px 0px;
    overflow: hidden;

}

.item.last{
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    white-space: nowrap;

}
.nav-bar .item:hover{
    border-width: 0px 1px 1px 0px;
}
.nav-bar .item.last:hover{
    border-width: 0px 0px 1px 0px;
}
a{
    text-decoration: none;
}

.content-container{
    padding-top: 20px;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}
.content{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

}

.book-container{
    background-color: #ebe5d5;
    width: 15%;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;

}
h2{
text-align: center;
margin-top: 20px;
color: #4A3432;

}
.cr-r{
    text-align: right;
}
.website{
    padding-right: 20px;
    text-align: center;
    color: #4A3432;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 1px;
}
.search-bar-container{
    width: 80%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-left: -120px;
}
#search-bar{
    width: 500px;

}