/* style for the login form */

h3 {
    text-align: center;
    margin-top: 20px;
    color: #4A3432;
    font-size: 45px;
    font-align: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
    z-index: 1; /* Ensure it appears above other elements */
}

.login-text-container {
    position: absolute;
    top: 3%;
    left: 38%;
}

.username-style {
    font-color:	#4a3432;
}

.password-style {
    font-color:	#4a3432;
}

.login-form-container {
    display: none;
    position: absolute;
    width: 25%;
    height: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebe5d5;
    border: 1px solid #4a3432;
    z-index: 2;
}

.close-button-container {
    position: absolute;
    top: 0;
    left: 0;

}

.close-button {
    background-color: #e07e3d;
}

.username-container {
    position: absolute;
    top: 35%;
    left: 19%;
}

.password-container {
    position: absolute;
    top: 50%;
    left: 20%;
}

.submit-button-container {
    position: absolute;
    bottom: 5%;
    left: 43%;
}

.submit-button {
    background-color: #e07e3d;
}