/* Login Form Styles */
.login-form-container {
    display: none;
    position: absolute;
    width: 25%;
    height: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebe5d5;
    border: 1px solid #4a3432;
    z-index: 2;
}

/* Signup Form Styles */
.signup-form-container {
    display: none;
    position: absolute;
    width: 25%;
    height: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebe5d5;
    border: 1px solid #4a3432;
    z-index: 2;
}

/* Common Styles for Both Forms */
.text-container {
    position: absolute;
    top: 3%;
    left: 38%;
}

.username-style,
.password-style {
    color: #4a3432;
}

.close-button-container {
    position: absolute;
    top: 0;
    left: 0;
}

.close-button {
    background-color: #e07e3d;
}

.username-container {
    position: absolute;
    top: 35%;
    left: 19%;
}

.password-container {
    position: absolute;
    top: 50%;
    left: 20%;
}

.submit-button-container {
    position: absolute;
    bottom: 5%;
    left: 43%;
}

.submit-button {
    background-color: #e07e3d;
}