/* Login Form Styles */
.login-form-container {
    display: none;
    position: absolute;
    width: 35vw;
    height: 25vw;
    min-width: 35vw;
    min-height: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebe5d5;
    border: 1px solid #4a3432;
    z-index: 3;
}

/* Signup Form Styles */
.signup-form-container {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 35vw;
    height: 25vw;
    min-width: 35vw;
    min-height: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebe5d5;
    border: 1px solid #4a3432;
    z-index: 3;
}

/* Common Styles for Both Forms */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
    z-index: 2; /* Ensure it appears above other elements */
}

.signup-text-container {
    position: absolute;
    top: 3%;
    left: 41%;
}

.login-text-container {
    position: absolute;
    top: 3%;
    left: 43%;
}

.username-style,
.password-style {
    color: #4a3432;
}

.close-button-container {
    position: absolute;
    top: 0;
    left: 0;
}

.close-button {
    background-color: #e07e3d;
}

.login-username-container {
    position: absolute;
    top: 35%;
    left: 24%;
}

.login-password-container {
    position: absolute;
    top: 50%;
    left: 25%;
}

.signup-username-container {
    position: absolute;
    top: 35%;
    left: 19%;
}

.signup-password-container {
    position: absolute;
    top: 50%;
    left: 29%;
}

.submit-button-container {
    position: absolute;
    bottom: 5%;
    left: 44%;
}

.submit-button {
    background-color: #e07e3d;
}