<!--This displays the accessories-->
{% extends "base.html" %}
{% block content %}
<h2>{{ genre_page}}</h2><br/>

<div class="sorting-options">
    <form action="{{ url_for('display_accessories', genre='Accessories') }}" method="get">
        <label for="sort-by">Sort by:</label>
        <select id="sort-by" name="sort_by">
            <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Title</option>
            <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Price</option>
            <option value="availability" {% if sort_by == 'availability' %}selected{% endif %}>Availability</option>
        </select>
        <label for="order">Order:</label>
        <select id="order" name="order">
            <option value="asc" {% if order == 'asc' %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if order == 'desc' %}selected{% endif %}>Descending</option>
        </select>
        <button type="submit" class="apply-button">Apply</button>
    </form>

</div>
<div class="content">
    <!-- For loop printing out book containers-->
    {% for accessory in accessories %}
    <div class="accessory-container rounded-3 shadow">
        <form class="form" action="/adda{{accessory.id}}" method="post">
        <img class="accessory" src="{{ url_for('static', filename='assets/accessories/'+ accessory.img)}}" alt="accessory">
        <p class="item-name">{{accessory.item_name}}</p>
        <p class="item-price">{{accessory.price}}</p>
        <p class="item-availability">Stock: {{accessory.availability}}</p><br/>
        <div class="add-to-cart-container"><input class="addToCart" type="submit" value="Add To Cart"></div>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}