<!--This displays the books-->
{% extends "base.html" %}
{% block content %}
<h2>{{ genre_page}}</h2>
<div class="content">
    <!-- For loop printing out book containers-->
    {% for book in books %}
    <div class="book-container rounded-3 shadow">
        <img class="book" src="{{ url_for('static', filename='assets/books/'+ book.img)}}" alt="book">
        <p class="book-title">{{book.title}}</p>
        <p class="book-author">{{book.author}}</p>
        <p class="book-price">{{book.price}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

