<!-- stock.html -->

{% extends "base.html" %}
{% block title %}Current Orders{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stock.css')}}">
</head>
<h2>Stock Information</h2><br/>
<!-- Sorting options form -->
<div class="mb-3 dropdown-container">
    <form action="{{ url_for('display_stock') }}" method="get">
        <label for="sort-by">Sort by:</label>
        <select id="sort-by" name="sort_by">
            <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Title</option>
            <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Price</option>
            <option value="availability" {% if sort_by == 'availability' %}selected{% endif %}>Availability</option>
        </select>
        <label for="order">Order:</label>
        <select id="order" name="order">
            <option value="asc" {% if order == 'asc' %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if order == 'desc' %}selected{% endif %}>Descending</option>
        </select>
        <button type="submit" class="apply-button">Apply</button>
    </form>
</div>
<!-- Display stock information here -->
<div class="table-container">
    <table class="table table-striped table-style">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Availability</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stock %}
                <tr>
                    {% if item.title %}
                        <td>{{ item.title }}</td>
                    {% elif item.item_name %}
                        <td>{{ item.item_name }}</td>
                    {% endif %}
                    <td>{{ item.availability }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
